VITE_API_URL=http://localhost:8000/api


VITE_SUPABASE_URL=https://arvwhovorblatxvgqtae.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFydndob3ZvcmJsYXR4dmdxdGFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5OTQzOTYsImV4cCI6MjEwNTU3MDM5Nn0.AgaL5qDXtsBkZyGMmmiaHvHWkJBER2skDrMyfFxzrRk